:root {
    --bg-color: #25282a;
    --controls-color: #71abff;
}

body {
    background-color: var(--bg-color);
}
.flex {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    flex-direction: column;
    width: 80%;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    height: 94vh;
}
.slider__container {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
}
.slider__img {
    width: 100%;
    height: 100%;
}
.items__container {
    width: 100%;
    height: 17%;
}
.img__alt {
    height: 100%;
    margin-top: 10px;
    padding-right: 50px;
    max-width: 60%;
}
.img__txt {   
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: bolder;
}
.controls__container {
    width: 280px;
    height: 100%;
}
.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    cursor: pointer;
}
.control__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--controls-color);
}
.active__btn {
    background-color: var(--bg-color);
    border: 5px solid var(--controls-color);
    width: 20px;
    height: 20px;
}
.btn__container:hover > .control__btn {
    background-color: white;
}
.btn__container:hover > .active__btn {
    border-color: white;
    background-color: var(--bg-color);
}